cloud_id                   = "b1gegv0bu92c5bucj2kg"
folder_id                  = "b1gbuqfec5c4sse933pr"
zone                       = "ru-central1-a"
image_id                   = "fd8rlvjj8ovn7f5dkmsb"
public_key_path            = "~/.ssh/appuser.pub"
subnet_id                  = "e9bu7e6cg1bggn4rqlh9"
service_account_key_file   = "/Users/evgeny/yc/iam/key.json"
app_connection_private_key = "~/.ssh/appuser"
app_zone                   = "ru-central1-a"
app_instance_count         = 2
app_disk_image             = "fd8c3tlbts38703ggd14"
db_disk_image              = "fd8gh67m30g1nftibcp2"
